
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=DynaPuff:wght@400..700&family=Kablammo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background: gray;
    width: 100%;
    position: absolute;
    color: azure;
    padding: 30px 0px 30px 20px;
}

.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}